
@{
    ViewData["Title"] = "Order";
}

@model Order


<div class="row orderForm">

    <div style="margin-left: auto; margin-right: auto;">
        <form asp-action="SummaryOrder" method="post">
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AddressLine" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="AddressLine" class="form-control" />
                    <span asp-validation-for="AddressLine" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ZipCode" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Country" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-15">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                Regulamin
                <div class="col-md-15">
                    <input asp-for="Regulations" name="checkbox" class="form-control" />
                </div>
            </div>

            <p>Forma płatności:<p>

                <label>
                    <input type="radio" asp-for="Payment" value="PAYPAL"> PayPal
                </label>
                <br />
                <label>
                    <input type="radio" asp-for="Payment" value="CASHONDELIVERY"> Płatność przy odbiorze
                </label>
                <div class="form-group">
                    <div class="btn-group col-md-offset-2 col-md-8">
                        <input class="btn btn-success" type="submit" value="Zamów" onclick="if(!this.form.checkbox.checked){alert('Musisz potwierdzić,że zapoznałeś się z regulaminem.');return false}" />
                    </div>
                </div>

        </form>
        </div>
    </div>
</div>
<br /><br />
    <a asp-controller="ShoppingCart" asp-action="Index" >
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>

