<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PC_Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>PC-Store</title>
    <link rel="stylesheet" href="~/css/Style.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="rounded-circle" height="50" width="90" src="~/images/serverimg/Logo.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-controller="Admin" asp-action="Panel" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Panel
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item"
                                       asp-controller="Dictionaries" asp-action="Index">
                                        Słowniki
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="Products" asp-action="Index">
                                        Produkty
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="Admin" asp-action="ManagementOrders">
                                        Zamówienia
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="Admin" asp-action="RaportView">
                                        Raporty
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="Administration" asp-action="ListRoles">
                                        Uprawnienia
                                    </a>
                                </div>

                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" asp-controller="Admin" asp-action="Panel" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Produkty
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"
                                       asp-controller="Processors" asp-action="Index">
                                        Procesory
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="GraphicCards" asp-action="Index">
                                        Karty graficzne
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="Motherboards" asp-action="Index">
                                        Płyty główne
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="ComputerCases" asp-action="Index">
                                        Obudowy
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="Rams" asp-action="Index">
                                        Pamięci RAM
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="PowerSupplies" asp-action="Index">
                                        Zasilacze
                                    </a>
                                </div>

                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kategorie
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"
                                   asp-controller="Home" asp-action="ProcessorList">
                                    Procesory
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="Home" asp-action="MotherboardList">
                                    Płyty główne
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="Home" asp-action="GraphiccardList">
                                    Karty graficzne
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="Home" asp-action="ComputerCaseList">
                                    Obudowy
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="Home" asp-action="RamList">
                                    Pamięci RAM
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="Home" asp-action="PowerSupplyList">
                                    Zasilacze
                                </a>
                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="PcCreator" asp-action="Index">Kreator PC</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="GetMyOrders">Moje zamówienia</a>
                            </li>
                        }


                        <li>
                            <a class="nav-link navbar-link-2 waves-effect nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">
                                <i class="fas fa-shopping-cart pl-0">Koszyk <img class="rounded-circle" height="30" width="30" src="~/images/serverimg/shopping-cart-realistic.jpg" /></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PC_Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
