@model PC_Store.Views.ViewModels.RoleListViewModel

@{
    ViewBag.Title = "All Roles";
}

<h1>Zarządzenie uprawnieniami</h1>

@if (Model.RoleList.Count!=0)
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="administration">Dodaj uprawnienie</a>

    foreach (var role in Model.RoleList)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">

                <a asp-controller="Administration" asp-action="EditRole"
                   asp-route-id="@role.Id" class="btn btn-primary">
                    Edycja
                </a>
                <a asp-controller="Administration" asp-action="DeleteRole"
                   asp-route-id="@role.Id" class="btn btn-primary">
                    Usuń
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Brak uprawnień
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Uzyj przycisku poniżej aby dodać uprawnienie
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Dodaj Rolę
            </a>
        </div>
    </div>
}
