@model IEnumerable<PC_Store.Models.GraphicCard>

@{
    ViewData["Title"] = "Index";
}

<h1><center>Karty Graficzne</center></h1>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producent
            </th>
            <th>
                Kod producenta
            </th>
            <th>
                Producent chipsetu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerChipset)
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddtoShoppingCart" asp-route-id="@item.ProductId">Dodaj do koszyka</a>
                </td>
            </tr>
        }
    </tbody>
</table>
