@model IEnumerable<PC_Store.Models.Dictionary>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona główna</h1>


    <div>
        <ul>
            <li><a asp-action="ProcessorList">Procesory</a></li>
            <li><a asp-action="MotherboardList">Płyty główne</a></li>
            <li><a asp-action="GraphiccardList">Karty graficzne</a></li>
        </ul>
    </div>
</div>
