@model PC_Store.Models.Dictionary

@{
    ViewData["Title"] = "Edit";
}

<center>
    <h1>Edit</h1>

    <h4>Dictionary</h4>
    <hr />
    <div>
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CodeItem" class="control-label"></label>
                    <input asp-for="CodeItem" class="form-control" />
                    <span asp-validation-for="CodeItem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodeDict" class="control-label"></label>
                    <input asp-for="CodeDict" class="form-control" />
                    <span asp-validation-for="CodeDict" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodeValue" class="control-label"></label>
                    <input asp-for="CodeValue" class="form-control" />
                    <span asp-validation-for="CodeValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ext1" class="control-label"></label>
                    <input asp-for="Ext1" class="form-control" />
                    <span asp-validation-for="Ext1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ext2" class="control-label"></label>
                    <input asp-for="Ext2" class="form-control" />
                    <span asp-validation-for="Ext2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExtN1" class="control-label"></label>
                    <input asp-for="ExtN1" class="form-control" min="1" />
                    <span asp-validation-for="ExtN1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExtN2" class="control-label"></label>
                    <input asp-for="ExtN2" class="form-control" min="1" />
                    <span asp-validation-for="ExtN2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</center>
<div>
    <a asp-action="Index" >
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>

