@model PC_Store.Models.GraphicCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GraphicCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Producent
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                Kod producenta
                <input asp-for="ProducerCode" class="form-control" />
                <span asp-validation-for="ProducerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                Producent chipsetu
                <input asp-for="ProducerChipset" class="form-control" />
                <span asp-validation-for="ProducerChipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                Taktowanie rdzenia
                <input asp-for="CoreClock" class="form-control" />
                <span asp-validation-for="CoreClock" class="text-danger"></span>
            </div>
            <div class="form-group">
                Taktowanie rdzenia w trybie boost
                <input asp-for="CoreClockBoost" class="form-control" />
                <span asp-validation-for="CoreClockBoost" class="text-danger"></span>
            </div>
            <div class="form-group">
                Typ złącza
                <input asp-for="ConnectorType" class="form-control" />
                <span asp-validation-for="ConnectorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                Wersja złącza
                <input asp-for="VerConnectorType" class="form-control" />
                <span asp-validation-for="VerConnectorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                Rozdzielczość
                <input asp-for="Resolution" class="form-control" />
                <span asp-validation-for="Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                Rekomendowana moc zasilacza
                <input asp-for="RecommendedPSUPower" class="form-control" />
                <span asp-validation-for="RecommendedPSUPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ilość pamięci RAM
                <input asp-for="AmountOfRAM" class="form-control" />
                <span asp-validation-for="AmountOfRAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                Rodzaj pamięci RAM
                <input asp-for="TypeOfRAM" class="form-control" />
                <span asp-validation-for="TypeOfRAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                Szyna danych
                <input asp-for="DataBus" class="form-control" />
                <span asp-validation-for="DataBus" class="text-danger"></span>
            </div>
            <div class="form-group">
                Taktowanie pamięci
                <input asp-for="MemoryClock" class="form-control" />
                <span asp-validation-for="MemoryClock" class="text-danger"></span>
            </div>
            <div class="form-group">
                Typ chłodzenia
                <input asp-for="CoolingType" class="form-control" />
                <span asp-validation-for="CoolingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ilość wentylatorów
                <input asp-for="NumberOfFans" class="form-control" />
                <span asp-validation-for="NumberOfFans" class="text-danger"></span>
            </div>
            <div class="form-group">
                D-Sub
                <input asp-for="DSub" class="form-control" />
                <span asp-validation-for="DSub" class="text-danger"></span>
            </div>
            <div class="form-group">
                DisplayPort
                <input asp-for="DisplayPort" class="form-control" />
                <span asp-validation-for="DisplayPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                HDMI
                <input asp-for="HDMI" class="form-control" />
                <span asp-validation-for="HDMI" class="text-danger"></span>
            </div>
            <div class="form-group">
                DVI
                <input asp-for="DVI" class="form-control" />
                <span asp-validation-for="DVI" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.ProductId)
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-light btn-md mr-1 mb-2">
            Wróć
        </button>
    </a>
</div>

