@model PC_Store.Models.Processor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>

<h4>Processor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Producer" class="control-label"></label>
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line" class="control-label"></label>
                <input asp-for="Line" class="form-control" />
                <span asp-validation-for="Line" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cooling" /> @Html.DisplayNameFor(model => model.Cooling)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SocketType" class="control-label"></label>
                <input asp-for="SocketType" class="form-control" />
                <span asp-validation-for="SocketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCores" class="control-label"></label>
                <input asp-for="NumberOfCores" class="form-control" />
                <span asp-validation-for="NumberOfCores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfThreads" class="control-label"></label>
                <input asp-for="NumberOfThreads" class="form-control" />
                <span asp-validation-for="NumberOfThreads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessorClockFrequency" class="control-label"></label>
                <input asp-for="ProcessorClockFrequency" class="form-control" />
                <span asp-validation-for="ProcessorClockFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurboMaximumFrequency" class="control-label"></label>
                <input asp-for="TurboMaximumFrequency" class="form-control" />
                <span asp-validation-for="TurboMaximumFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegratedGraphics" class="control-label"></label>
                <input asp-for="IntegratedGraphics" class="form-control" />
                <span asp-validation-for="IntegratedGraphics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnlockedMultiplier" class="control-label"></label>
                <input asp-for="UnlockedMultiplier" class="form-control" />
                <span asp-validation-for="UnlockedMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Architecture" class="control-label"></label>
                <input asp-for="Architecture" class="form-control" />
                <span asp-validation-for="Architecture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypesOfSupportedMemory" class="control-label"></label>
                <input asp-for="TypesOfSupportedMemory" class="form-control" />
                <span asp-validation-for="TypesOfSupportedMemory" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.ProductId)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ComputerCases" asp-action="Index">Back to List</a>
</div>

