@{
    ViewData["Title"] = "Panel Admina";
}

<p>Admin Panel</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Processors" asp-action="Index">Procesory</a>
<a class="nav-link text-dark" asp-area="" asp-controller="GraphicCards" asp-action="Index">Karty Graficzne</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Motherboards" asp-action="Index">Płyty główne</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Dictionaries" asp-action="Index">Słowniki</a>

